*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1200px;
    letter-spacing: -0.02em;  
}
body{
    background-image: url(../img/contact.jpg);
    background-size: cover;
    /* filter: brightness(30%);  */
    margin:0;
}
.bg{
    background-color:rgba(0, 0, 0, 0.6); /*살짝 투명한 검정으로 배경색*/
    width:100%;
    height:190vh;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/  
}
.logoImg{
    width: 30px;
    position: absolute;
    top:1%;
    left:3%;
    margin-top: 1.5%;
}
.logoName{
    width: 130px;
    position: absolute;
    top:1%;
    left:5%;
    margin-top: 1%;
}
.mainLogo{
    text-transform: uppercase;
    font-size:100px;
    font-weight: bold;
    color: white;
}

/* 헤더 영역 CSS */
.header{
    position:relative;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.header .gnb{
    list-style-type: none;
    display:block !important;
    position:static;
    float:right;
    width:auto;
    margin-right: 4%;
    
    margin-top: 1.5%;
    background:none;
}

.header .gnb li{
    float:left;
    margin-left:40px;
    border-bottom:0;
}  
.header .gnb li a{
    text-decoration: none;
    padding:0;
    font-size:13px;
    color:#ffffffcc;
    font-weight: 100;
}
.header .gnb li a .fas{
    margin-right: 8px;
}

.mainNav{
    padding: 0;
    float: left;
    list-style-type: none;
    display:block !important;
    position: static;
    background:none;
    font-weight: 500;
    border-bottom: 0.5px solid #ffffffcc;
    margin-left: 55px;
}
.mainMenu{
    position: absolute;
    top: 1%;
    width: 60%;
    left: 14%;
    margin-top: 0.5%;
}
.mainNav li{
    float:left;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 20px;
    border-bottom:0;
}
.mainNav li:nth-child(1){
    padding-left:0;
} 
.mainSpan{
    font-size: 11px;
    font-weight: 100;
    
}
.mainNav li a{
    text-decoration: none;
    padding:0;
    font-size:14px;
    color:#ffffff;
}
  .gnb li:hover a { color: white;  }


.mainSpan{
    font-size: 11px;
    font-weight: 100;
    
}
.subNav{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    /* width: 60%; */
    left: 60px;
    top: 40px;
    padding-top: 60px;
    /* border: 1px solid #ffffff; */
    display: none; 
}
.underSub {
  margin: 0;
 
}
.underSub:hover {
  font-weight: bold;
}
.underSub:hover .subSpan {
 color: rgb(150, 218, 240);
}
.subSpan{
  font-size: 13px;
  font-weight: 100;
}
.mainNav li:hover>ul{
  display: block;
}
.under1, .under2{
cursor: pointer;
}

.nav-underline {
    position: relative;
    top: 74.5px;
  left: 6.5%;
  width: 12%;
  height: 2px;
  background: rgb(150, 218, 240);
  display: none;
  transition: all .3s ease-in-out;
}
.under1:hover{
    border-bottom: 2px solid rgb(150, 218, 240);
}
.under2:hover{
    border-bottom: 2px solid rgb(150, 218, 240);
}
.under3:hover{
    border-bottom: 2px solid rgb(150, 218, 240);
}
.under5:hover{
    border-bottom: 2px solid rgb(150, 218, 240);
}

.under5, .under55{
    cursor: pointer;
}
.container{
    height:1020px;
    width:80%;
    position: relative;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    margin-top: 1%;
    background-color: #fffffff6;
    padding-top: 5%;
    border-radius: 20px;
}
.sec-tit{
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom:75px;
    text-align:center;
    color:rgb(36, 42, 58); 
}
.sec-sub{
    color: rgb(150, 218, 240);
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    /* letter-spacing: 5px; */
    text-align:center;
}
.map{
    margin-left: 7%;
    width: 40%;
    float: left;
}
.mapInfo{
    width: 430px;
    height: 300px;
    border: 0.5px solid lightgray;
    margin-top: 2%;
    padding-top: 5%;
    padding-left: 17.5%;
}
.mapInfo i{
    width:30px;
    height:30px;
    border:1px solid lightgray;
    border-radius:50%;
    text-align:center;
    cursor:pointer;
    line-height:30px;
    display:inline-block;
   
}
.mapInfo i:hover{
    background-color:rgb(150, 218, 240);
    color:white;
  }
.mapDetail{
    font-size: 13px;
    color:#6d6d6d;
}
.cover{
    margin-bottom: 5%;
}
.customer{
    width: 48%;
    float: right;
    margin-right: 3%;
    /* border: 1px solid black; */
}
.cusInfo{
    font-size: 15px;
    color:#6d6d6d;
    padding-left: 10px;
    
}
.customer input{
    border:1px solid rgba(211, 211, 211, 0.24);
    width:520px;
    height:50px;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: rgba(211, 211, 211, 0.24);
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
}
.customer textarea{
    border:1px solid rgba(211, 211, 211, 0.24);
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: rgba(211, 211, 211, 0.24);
    border-radius: 20px;
    outline: none;
    padding-left: 20px;
    padding-top: 20px;
    resize: none;
}
.b-button{
    background-color:rgb(36, 42, 58); 
    color:white;
    padding:12px 130px;
    color:#fff;
    font-size:14px;
    border-radius:25px;
    margin-left: 20%;
  }
.b-button:hover{
    background-color:rgb(150, 218, 240);
    color:white;
}
.line4 {
    padding-bottom: 4%;
    color: #656565;
    font-size: 15px;
    width: 100%;
}

input[type="checkbox"]{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0
}
input[type="checkbox"] + label{ 
    display: inline-block; 
    position: relative; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
input[type="checkbox"] + label:after { /* 가짜 체크박스 */ 
    content: ' '; 
    display: inline-block; 
    width: 20px; /* 체크박스의 너비를 지정 */ 
    height: 20px; /* 체크박스의 높이를 지정 */ 
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */ 
    margin-left: 27%;
    font-size: 20px;
    text-align: right; 
    vertical-align: center;
    content: '\2714'; /* 체크표시 유니코드 사용 */ 
    color: #999999
}
input[type="checkbox"]:checked + label:after { /* 체크박스를 체크했을때 */ 
    content: '\2714'; /* 체크표시 유니코드 사용 */ 
    color: rgb(0, 140, 255);
    text-shadow: 1px 1px #fff; 
}
.chck{
    /* margin-right: 200px; */
    width: 255px;
    height: 50px;
    line-height: 50px;
    padding-left: 12%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: rgba(211, 211, 211, 0.24);
    border:1px solid rgba(211, 211, 211, 0.24);
    border-radius: 20px;
    outline: none;
}
.fullchk{
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

@media all and (min-width:1680px){
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        letter-spacing: -0.02em;  
    }
    .container{
        height:1150px;
        width:80%;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        margin-top: 1%;
        background-color: #ffffff;
        padding-top: 4%;
        padding-bottom: 3%;
        border-radius: 20px;
    }
    .bg{
        background-color:rgba(0, 0, 0, 0.3); /*살짝 투명한 검정으로 배경색*/
        width:100%;
        height:155vh;
        position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/  
    }
    
}

/* footer */

.footer_box{
    padding: 6px 22px 16px 22px;
    background-color: rgb(36, 42, 58);
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.03rem;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

.footer_logo{
   width: 77px;
   position: relative;
   top: 10px;
   margin-right: 10px;
}
.footer_logo2{
    width: 22px;
    position: relative;
    top: 6px; 
}

.clear{
    clear: both;
}
